* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f6ecea;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.logo {
  width: 150px;
  display: flex;
  margin-left: 200px;
}

li {
  list-style: none;
}

.anchors {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  flex-wrap: wrap;
}

.anchors a {
  padding-left: 25px;
  padding-right: 25px;
  color: #000;
  font-weight: bold;
}

.anchors a:hover {
  color: #d22d2d;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

main {
  padding: 15px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

h3 {
  color: #666;
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
}

h4 {
  color: #333;
  margin-top: 20px;
  text-align: center;
}

iframe {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
  border-radius: 15px;
}