/* General */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 150px;
}

li {
  list-style: none;
}

.anchors {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  flex-wrap: wrap;
}

.anchors a {
  padding-left: 25px;
  padding-right: 25px;
  color: #000;
  font-weight: bold;
}

.anchors a:hover {
  color: #d22d2d;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

main {
  padding: 60px 20px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('public/intento.png') no-repeat center center/cover;
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  border-radius: 20px;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fff;
}

.hero p {
  font-size: 20px;
  margin-bottom: 40px;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
}

.reviews {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.review {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.review:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.user-info{
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  flex-wrap: wrap;

}